.turn{
  border: 1px solid;
  width: 7rem;
  height:7rem;
  border-radius: 50%;
  margin: 1rem;
  text-align: center;
  position: fixed;
}

.turn.white{
  border-color: white;
  left:50%;
  transform: translateX(-50%);
}

.turn.red{
  right:20%;
  transform: translateX(+50%);
  background: rgba(194, 77, 77, 0.75);
  border-color: rgba(194, 77, 77, 0.75);
}

.turn.green{
  left:20%;
  transform: translateX(-50%);
  background: rgba(77, 194, 102, 0.75);
  border-color: rgba(77, 194, 102, 0.75);
}

.turn label{
  line-height: 7rem;
  /* height: 15rem; */
  font-size:1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}